*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 400 14px "Roboto", sans-serif;
  line-height: 19.69px;
  color: #333333;
  background-color: #EFEFEF;
}

.container {
  max-width: 1140px;
  padding: 0 5px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: inline-block;
}

.header {
  background-color: #FFFFFF;
}
.header__middle {
  padding: 20px 0 14px;
}
.header__middle-inner {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
@media screen and (max-width: 768px) {
  .header__middle-inner {
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .header__middle-inner {
    display: block;
  }
}
.header__contacts {
  margin-right: 11px;
  width: 30%;
}
@media screen and (max-width: 1140px) {
  .header__contacts {
    width: 45%;
  }
}
@media screen and (max-width: 576px) {
  .header__contacts {
    width: 100%;
  }
}
.header__divider {
  height: 1px;
  background-color: #EFEFEF;
}

.top-nav {
  background-color: #E5E5E5;
  line-height: 16.41px;
  padding: 17px 0;
}
.top-nav__inner {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 997px) {
  .top-nav__inner {
    display: block;
  }
}
.top-nav__menu {
  display: none;
}
@media screen and (max-width: 997px) {
  .top-nav__menu {
    display: block;
    color: #333333;
    margin-left: 10px;
  }
}
.top-nav__menu-btn {
  background-color: transparent;
  border: none;
}
.top-nav__list {
  width: 40%;
}
@media screen and (max-width: 1140px) {
  .top-nav__list {
    width: 50%;
  }
}
@media screen and (max-width: 997px) {
  .top-nav__list {
    display: none;
  }
}
.top-nav__list-item {
  margin-right: 28px;
}
.top-nav__list-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 997px) {
  .top-nav__list-item {
    display: block;
    margin: 15px 0 0 16px;
  }
}
.top-nav__link:hover {
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #66C05D;
}

.logo {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .logo {
    justify-content: center;
    margin-bottom: 20px;
  }
}
.logo__img-div {
  margin-right: 22px;
}
.logo__title {
  color: #66C05D;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 3px;
}

.contacts {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1140px) {
  .contacts {
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .contacts {
    display: block;
    text-align: center;
  }
}
.contacts__number {
  font-size: 16px;
  line-height: 18.75px;
}
@media screen and (max-width: 768px) {
  .contacts__number {
    margin-bottom: 10px;
  }
}
.contacts__btn {
  line-height: 16.41px;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #66C05D;
  padding: 10px 25px 10px 30px;
  border-radius: 18px;
}
.contacts__btn:hover {
  cursor: pointer;
  background-color: #66C05D;
  color: #FFFFFF;
}

.main-nav {
  padding: 30px 0;
  font-size: 16px;
  line-height: 18.75px;
}
@media screen and (max-width: 997px) {
  .main-nav {
    padding: 30px 0 20px;
  }
}
.main-nav__list {
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 1140px) {
  .main-nav__list {
    width: 80%;
    text-align: center;
  }
}
.main-nav__list-item {
  margin-right: 30px;
}
@media screen and (max-width: 997px) {
  .main-nav__list-item {
    margin-bottom: 10px;
  }
}
.main-nav__link:hover {
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #66C05D;
  text-decoration: underline;
}

.main-block {
  color: #FFFFFF;
  position: relative;
  background: url(../../images/main-image.png) top center/100% no-repeat;
  padding: 11% 0 20.8% 0;
}
@media screen and (max-width: 768px) {
  .main-block {
    background: url(../../images/main-image.png) 64% center/cover no-repeat;
    padding: 0;
    height: 400px;
    margin-bottom: 9rem;
  }
}
@media screen and (max-width: 576px) {
  .main-block {
    height: 300px;
    background-position: 65% center;
  }
}
.main-block__test {
  background-color: red;
  height: 300px;
}
.main-block__content {
  position: absolute;
  top: 43%;
  left: 21%;
  transform: translate(-21%, -43%);
}
@media screen and (max-width: 768px) {
  .main-block__content {
    transform: translate(-50%, 0);
    top: 99%;
    left: 50%;
    text-align: center;
    color: #66C05D;
  }
}
@media screen and (max-width: 576px) {
  .main-block__content {
    width: 90%;
  }
}
.main-block__title {
  font-size: 48px;
  line-height: 56.25px;
}
@media screen and (max-width: 1140px) {
  .main-block__title {
    font-size: 40px;
    line-height: 30px;
  }
}
@media screen and (max-width: 997px) {
  .main-block__title {
    font-size: 37px;
    line-height: 20px;
  }
}
@media screen and (max-width: 576px) {
  .main-block__title {
    font-size: 29px;
  }
}
.main-block__text {
  width: 70%;
  line-height: 20px;
  margin-bottom: 9%;
}
@media screen and (max-width: 1140px) {
  .main-block__text {
    line-height: 19.69px;
    margin-bottom: 5%;
    width: 50%;
  }
}
@media screen and (max-width: 997px) {
  .main-block__text {
    line-height: 19.69px;
    margin-bottom: 3%;
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .main-block__text {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .main-block__text {
    line-height: 16.41px;
    margin-bottom: 5%;
  }
}
.main-block__link {
  line-height: 16.41px;
  display: inline-block;
  padding: 10px 32px 10px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
  letter-spacing: 3px;
}
.main-block__link:hover {
  background-color: #FFFFFF;
  color: #66C05D;
}
@media screen and (max-width: 1140px) {
  .main-block__link {
    letter-spacing: 1px;
    padding: 10px 25px 10px 27px;
  }
}
@media screen and (max-width: 768px) {
  .main-block__link {
    background-color: #66C05D;
    color: #FFFFFF;
    border-color: transparent;
  }
}
@media screen and (max-width: 576px) {
  .main-block__link {
    font-size: 12px;
    padding: 8px 22px 8px 25px;
  }
}

.special-offer {
  padding-top: 54px;
}
@media screen and (max-width: 768px) {
  .special-offer {
    padding-top: 30px;
  }
}
.special-offer__box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 55px 0 9px;
}
@media screen and (max-width: 1140px) {
  .special-offer__box1 {
    padding-left: 25px;
  }
}
@media screen and (max-width: 997px) {
  .special-offer__box1 {
    padding: 0;
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .special-offer__box1 {
    padding: 0;
  }
}
.special-offer__title {
  color: #000000;
  font-size: 24px;
  line-height: 28.13px;
}
@media screen and (max-width: 768px) {
  .special-offer__title {
    width: 100%;
    text-align: center;
    font-size: 21px;
  }
}
@media screen and (max-width: 768px) {
  .special-offer__truck-div {
    display: none;
  }
}
.special-offer__box2 {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 10px;
}
@media screen and (max-width: 1140px) {
  .special-offer__box2 {
    padding: 0 25px;
  }
}
@media screen and (max-width: 997px) {
  .special-offer__box2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .special-offer__box2 {
    display: block;
  }
}
.special-offer__card {
  background-color: #FFFFFF;
  width: 23%;
  text-align: center;
  padding: 20px 0 15px;
}
@media screen and (max-width: 997px) {
  .special-offer__card {
    padding-bottom: 25px;
    width: 40%;
    margin: 0 2% 20px;
  }
}
@media screen and (max-width: 768px) {
  .special-offer__card {
    width: 46%;
  }
}
@media screen and (max-width: 576px) {
  .special-offer__card {
    width: 93%;
    margin: 0 auto 20px;
  }
}
@media screen and (max-width: 576px) {
  .special-offer__chair-img {
    width: 100px;
    height: auto;
  }
}
.special-offer__description {
  padding: 0 22px;
}
@media screen and (max-width: 997px) {
  .special-offer__description {
    padding: 0 40px;
  }
}
.special-offer__price {
  font-size: 21px;
  font-weight: 500;
  line-height: 24.61px;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 768px) {
  .special-offer__price {
    font-size: 18px;
    line-height: 22px;
  }
}
.special-offer__buy-btn {
  display: inline-block;
  color: #FFFFFF;
  background-color: #66C05D;
  border-color: transparent;
  padding: 10px 38px;
  border-radius: 19px;
  letter-spacing: 1.5px;
}
.special-offer__buy-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #66C05D;
  border: 1px solid #66C05D;
}
@media screen and (max-width: 768px) {
  .special-offer__buy-btn {
    padding: 8px 28px;
    letter-spacing: 1px;
    border-radius: 15px;
    font-size: 12px;
  }
}
.special-offer__box3 {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  padding: 0 10px;
}
@media screen and (max-width: 997px) {
  .special-offer__box3 {
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .special-offer__box3 {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .special-offer__box3 {
    display: block;
    text-align: center;
  }
}
.special-offer__promotions {
  background-color: #66C05D;
  color: #FFFFFF;
  width: 49%;
  padding: 11px 43px 33px 41px;
}
@media screen and (max-width: 997px) {
  .special-offer__promotions {
    padding: 11px 22px 22px 25px;
  }
}
@media screen and (max-width: 576px) {
  .special-offer__promotions {
    width: 85%;
    margin: 0 auto 20px;
  }
}
.special-offer__prom1-inner1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .special-offer__prom1-inner2 {
    display: none;
  }
}
.special-offer__prom-title {
  font-size: 18px;
  line-height: 21.09px;
}
.special-offer__prom-link {
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 19px;
  line-height: 16.41px;
  padding: 10px 30px;
}
.special-offer__prom-link:hover {
  background-color: #FFFFFF;
  color: #66C05D;
}
@media screen and (max-width: 576px) {
  .special-offer__prom-link {
    padding: 8px 20px;
    font-size: 12px;
  }
}
.special-offer__text1 {
  width: 73%;
  margin-bottom: 23px;
}
@media screen and (max-width: 997px) {
  .special-offer__text1 {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .special-offer__text1 {
    width: 100%;
  }
}
.special-offer__text2 {
  width: 32%;
  margin-bottom: 20px;
}
@media screen and (max-width: 1140px) {
  .special-offer__text2 {
    width: 55%;
  }
}
@media screen and (max-width: 576px) {
  .special-offer__text2 {
    width: 100%;
  }
}
@media screen and (max-width: 1140px) {
  .special-offer__envelope-img {
    width: 90px;
    height: auto;
  }
}
@media screen and (max-width: 997px) {
  .special-offer__envelope-img {
    width: 80px;
  }
}
.special-offer__input {
  border-color: transparent;
  font: 400 14px "Roboto", sans-serif;
  border-radius: 23px;
  padding: 8px 15px 9px 22px;
  width: 70%;
}
.special-offer__input::placeholder {
  color: #C4C4C4;
}
@media screen and (max-width: 997px) {
  .special-offer__input {
    width: 13rem;
  }
}
@media screen and (max-width: 576px) {
  .special-offer__input {
    width: 9rem;
  }
}
