*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 400 $mainFontSize $mainFont;
  line-height: 19.69px;
  color: $darkGrey;
  background-color: $grey;
}

.container {
  max-width: 1140px;
  padding: 0 5px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: inline-block;
}