.header {
  background-color: $white;

  &__middle {
    padding: 20px 0 14px;
  }

  &__middle-inner {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;

    @include medium {
      align-items: center;
    }

    @include small {
      display: block;
    }
  }

  &__contacts {
    margin-right: 11px;
    width: 30%;

    @include extraLarge {
      width: 45%;
    }

    @include small {
      width: 100%;
    }
  }

  &__divider {
    height: 1px;
    background-color: $grey;
  }
}